
:root{
    --my-white: #fffffb;
    --my-black: #383534;
    --my-primary: #a69b97;
    --my-secondary: #d7ccc8;
    --my-secondary-trans: #d7ccc8a2;
    --my-terciary: #ffab91;
    --my-terciary-dark: #724537;
    --my-mistake: "LoL";
}

.jumbotron{
    background-image: url('./images/jumbobg.jpg');
    background-size: cover;
}

.cv-image{
    height: 100px;
}
.cv-logo{
    height: 100px;
    width: 100px;
}

.bg-no-color{
    background-color: var(--my-white);
}

.bg-my-secondary{
    background-color: var(--my-secondary, var(--light));
}

.bg-my-secondary-trans{
    background-color: var(--my-secondary-trans);
}

.bg-my-primary{
    background-color: var(--my-primary, var(--primary));
}

<<<<<<< HEAD
<<<<<<< HEAD
.my-button{
    background-color: var(--my-terciary, var(--primary));
    box-shadow: 2px 2px 4px var(--my-terciary-dark);
    color: var(--my-black)
}

.bg-my-terciary{
    background-color: var(--my-terciary, var(--primary));
}

.my-title{
    color: var(--my-primary);
    font-weight: bold;
}

.my-subtitle{
    color: var(--my-terciary);
    text-shadow: 2px 2px 4px var(--my-terciary-dark);
}

.my-text{
    color: var(--my-black);
}

.my-link{
    color: var(--my-terciary-dark);
}

.my-mistake{
    color: var(--my-mistake);
}
=======
=======
>>>>>>> 482d8c0a9af90f9b11c97a2c8f0e57e22a563851
/* la forma ideal sería meternos en SASS y modificar las variables */
.bg-primary{
    background-color: purple !important;
}
>>>>>>> 482d8c0a9af90f9b11c97a2c8f0e57e22a563851
